:root {
  --dark: #525252;
  --medium: #a2a2a2;
  --light: #c5c5c5;
  --white: #ffffff;
  --menu: #7781a3;
  --add: #46c2ab;
  --border: rgba(183, 183, 183, 0.8);

  --all: #49c0aa;
  --ux: #bd8fcf;
  --design: #e972a0;
  --frontend: #75bbdb;
  --backend: #5ed999;
  --mobile: #fbd38b;
  --devops: #f19680;
  --agile: #6fa0a5;
  --free: #88cc77;
  --payment: #eead4f;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--medium);
  padding-top: 60px; /* Este padding exite por causa do header fixed */
  padding-bottom: 60px;
}
