{% macro menu(page="events") %}
<nav class="wrap__menu">
  <ul class="menu">
    <li class="menu__item menu__item--add">
      <a href="/event">
        +
      </a>
    </li>
    <li class="menu__item menu__item--evento {% if page == "events" %} menu__item--isActive {% endif %}">
      <a href="/events">
        Eventos
      </a>
    </li>
    <li class="menu__item menu__item--like {% if page == "like" %} menu__item--isActive {% endif %}">
      <a href="/events/like">
        Like
      </a>
    </li>
    <li class="menu__item menu__item--meusEventos {% if page == "my" %} menu__item--isActive {% endif %}">
      <a href="/events/my">
        Meus
      </a>
    </li>
    <li class="menu__item menu__item--perfil {% if page == "perfil" %} menu__item--isActive {% endif %}">
      <a href="/perfil">
        Perfil
      </a>
    </li>
    <li class="linhaFinal"></li>
  </ul>
</nav>
{% endmacro %}