<nav class="wrap__menu">
  <ul class="menu">
    <li class="menu__item menu__item--add">+</li>
    <li class="menu__item menu__item--evento menu__item--isActive">
      <a href="/events">
        Eventos
      </a>
    </li>
    <li class="menu__item menu__item--like">
      <a href="/events/like">
        Like
      </a>
    </li>
    <li class="menu__item menu__item--meusEventos">
      <a href="/events/my">
        Meus
      </a>
    </li>
    <li class="menu__item menu__item--perfil">
      <a href="/perfil">
        Perfil
      </a>
    </li>
    <li class="linhaFinal"></li>
  </ul>
</nav>