.addNewEvent {
  border-bottom: 1px solid var(--border);
  position: relative;
  margin-top: 55px;
  width: 360px;
}

.addNewEvent__button {
  font-size: 2.5em;
  color: var(--white);
  background-color: var(--add);
  width: 46px;
  height: 46px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -22px;
}
