.headerNewEvent {
  display: block;
  width: 360px;
  height: 61px;
  box-sizing: border-box;
  border-bottom: solid 1px var(--border);
  position: relative;
  line-height: 61px;
}

.headerNewEvent__buttonPrevious {
  background-image: url(../../../img/block/new-event/icon-previous-dark.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  text-indent: -9999px;
  width: 35px;
  height: 53px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.headerNewEvent__label {
  font-size: 1.833em;
  color: var(--dark);
  display: block;
  text-align: center;
}
