* {
  margin: 0;
  padding: 0;
  border: none;
}

html,body {
  width: 100%;
  height: 100%;
}

select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  border-radius: 0;
}

input:invalid {
  box-shadow: none;
}