{% from "partials/menu.html" import menu %}
{% extends "templates/base.html" %}

{% block content %}
<body class="headerAndMenu">
  <header class="header">
    <ol class="header__month">
      <li class="header__month__item">Janeiro</li>
      <li class="header__month__item">Fevereiro</li>
      <li class="header__month__item">Março</li>
      <li class="header__month__item">Abril</li>
      <li class="header__month__item">Maio</li>
      <li class="header__month__item">Junho</li>
      <li class="header__month__item">Julho</li>
      <li class="header__month__item">Agosto</li>
      <li class="header__month__item">Setembro</li>
      <li class="header__month__item header__month__item--isActive">Outubro</li>
      <li class="header__month__item">Novembro</li>
      <li class="header__month__item">Dezembro</li>
    </ol>

    <img class="header__filter" src="img/header-filter.svg" alt="Icone para entrar nos filtros">
  </header>

  <section class="wrap__date">
    <ol class="date">
      <li class="date__item date__item--isActive"><strong class="date__item__number">14</strong> out</li>
      <li class="date__item"><strong class="date__item__number">15</strong> out</li>
      <li class="date__item"><strong class="date__item__number">16</strong> out</li>
      <li class="date__item"><strong class="date__item__number">17</strong> out</li>
      <li class="date__item"><strong class="date__item__number">18</strong> out</li>
      <li class="date__item"><strong class="date__item__number">19</strong> out</li>
      <li class="date__item"><strong class="date__item__number">20</strong> out</li>
      <li class="date__item"><strong class="date__item__number">21</strong> out</li>
      <li class="date__item"><strong class="date__item__number">22</strong> out</li>
      <li class="date__item"><strong class="date__item__number">23</strong> out</li>
      <li class="date__item"><strong class="date__item__number">24</strong> out</li>
      <li class="date__item"><strong class="date__item__number">25</strong> out</li>
      <li class="date__item"><strong class="date__item__number">26</strong> out</li>
      <li class="date__item"><strong class="date__item__number">27</strong> out</li>
    </ol>
  </section>

  <section class="wrap__event">
    <dl class="event">
      <dd class="event__category event__category--frontend">FrontEnd</dd>
      <dd class="event__category event__category--agile">Agile</dd>
      <dd class="event__category event__category--design">Design</dd>
      <dd class="event__ticket event__ticket--free">Free</dd>

      <dd class="event__time">
        <time>08:00</time>
        -
        <time>19:00</time>
      </dd>

      <dt class="event__name">FrontInSampa</dt>

      <dd>
        <address class="event__address">
          Teatro do Hotel Maksoud Plaza
          <strong class="event__address__city">São Paulo - SP</strong>
        </address>
      </dd>

      <dd>
        <nav class="event__menu">
          <img class="event__menu__item" src="img/block/event/event-like.svg" alt="icone para curtir">
          <img class="event__menu__item" src="img/block/event/event-share.svg" alt="icone para compartilhar">
        </nav>
      </dd>
    </dl>

    <dl class="event">
      <dd class="event__category event__category--frontend">FrontEnd</dd>
      <dd class="event__ticket event__ticket--payment">Pago</dd>

      <dd class="event__time">
        <time>08:00</time>
        -
        <time>19:00</time>
      </dd>

      <dt class="event__name">FrontInSampa</dt>

      <dd>
        <address class="event__address">
          Teatro do Hotel Maksoud Plaza
          <strong class="event__address__city">São Paulo - SP</strong>
        </address>
      </dd>

      <dd>
        <nav class="event__menu">
          <img class="event__menu__item" src="img/block/event/event-like.svg" alt="icone para curtir">
          <img class="event__menu__item" src="img/block/event/event-share.svg" alt="icone para compartilhar">
        </nav>
      </dd>
    </dl>

    <dl class="event">
      <dd class="event__category event__category--frontend">FrontEnd</dd>
      <dd class="event__ticket event__ticket--free">Free</dd>

      <dd class="event__time">
        <time>08:00</time>
        -
        <time>19:00</time>
      </dd>

      <dt class="event__name">FrontInSampa</dt>

      <dd>
        <address class="event__address">
          Teatro do Hotel Maksoud Plaza
          <strong class="event__address__city">São Paulo - SP</strong>
        </address>
      </dd>

      <dd>
        <nav class="event__menu">
          <img class="event__menu__item" src="img/block/event/event-like.svg" alt="icone para curtir">
          <img class="event__menu__item" src="img/block/event/event-share.svg" alt="icone para compartilhar">
        </nav>
      </dd>
    </dl>

    <dl class="event">
      <dd class="event__category event__category--frontend">FrontEnd</dd>
      <dd class="event__ticket event__ticket--free">Free</dd>

      <dd class="event__time">
        <time>08:00</time>
        -
        <time>19:00</time>
      </dd>

      <dt class="event__name">FrontInSampa</dt>

      <dd>
        <address class="event__address">
          Teatro do Hotel Maksoud Plaza
          <strong class="event__address__city">São Paulo - SP</strong>
        </address>
      </dd>

      <dd>
        <nav class="event__menu">
          <img class="event__menu__item" src="img/block/event/event-like.svg" alt="icone para curtir">
          <img class="event__menu__item" src="img/block/event/event-share.svg" alt="icone para compartilhar">
        </nav>
      </dd>
    </dl>

    <dl class="event">
      <dd class="event__category event__category--frontend">FrontEnd</dd>
      <dd class="event__ticket event__ticket--free">Free</dd>

      <dd class="event__time">
        <time>08:00</time>
        -
        <time>19:00</time>
      </dd>

      <dt class="event__name">FrontInSampa</dt>

      <dd>
        <address class="event__address">
          Teatro do Hotel Maksoud Plaza
          <strong class="event__address__city">São Paulo - SP</strong>
        </address>
      </dd>

      <dd>
        <nav class="event__menu">
          <img class="event__menu__item" src="img/block/event/event-like.svg" alt="icone para curtir">
          <img class="event__menu__item" src="img/block/event/event-share.svg" alt="icone para compartilhar">
        </nav>
      </dd>
    </dl>
  </section>

  {{ menu("my") }}

  <div class="menuAdd">
    <button class="menuAdd__button menuAdd__button--criarEvento">Criar Evento</button>
    <button class="menuAdd__button menuAdd__button--free">Free</button>
    <button class="menuAdd__button menuAdd__button--payment">Pago</button>
  </div>

  <section class="wrap__menuFilter">
    <!-- wrap__menuFilter--isActive -->
    <fieldset class="menuFilter">
      <legend class="menuFilter__title">Categorias</legend>

      <input type="checkbox" name="all" id="all" class="menuFilter__checbox menuFilter__checbox--all">
      <label for="all" class="menuFilter__label menuFilter__label--all">
        Todas
      </label>

      <input type="checkbox" name="ux" id="ux" class="menuFilter__checbox menuFilter__checbox--ux">
      <label for="ux" class="menuFilter__label menuFilter__label--ux">
        UX
      </label>

      <input type="checkbox" name="design" id="design" class="menuFilter__checbox menuFilter__checbox--design">
      <label for="design" class="menuFilter__label menuFilter__label--design">
        Design
      </label>

      <input type="checkbox" name="frontend" id="frontend" class="menuFilter__checbox menuFilter__checbox--frontend">
      <label for="frontend" class="menuFilter__label menuFilter__label--frontend">
        Frontend
      </label>

      <input type="checkbox" name="backend" id="backend" class="menuFilter__checbox menuFilter__checbox--backend">
      <label for="backend" class="menuFilter__label menuFilter__label--backend">
        Backend
      </label>

      <input type="checkbox" name="mobile" id="mobile" class="menuFilter__checbox menuFilter__checbox--mobile">
      <label for="mobile" class="menuFilter__label menuFilter__label--mobile">
        Mobile
      </label>

      <input type="checkbox" name="devops" id="devops" class="menuFilter__checbox menuFilter__checbox--devops">
      <label for="devops" class="menuFilter__label menuFilter__label--devops">
        DevOps
      </label>

      <input type="checkbox" name="agile" id="agile" class="menuFilter__checbox menuFilter__checbox--agile">
      <label for="agile" class="menuFilter__label menuFilter__label--agile">
        Agile
      </label>

      <legend class="menuFilter__title">Inscrição</legend>

      <input type="checkbox" name="allInscricao" id="allInscricao" class="menuFilter__checbox menuFilter__checbox--allInscricao">
      <label for="allInscricao" class="menuFilter__label menuFilter__label--allInscricao">
        Todas
      </label>

      <input type="checkbox" name="free" id="free" class="menuFilter__checbox menuFilter__checbox--free">
      <label for="free" class="menuFilter__label menuFilter__label--free">
        Free
      </label>

      <input type="checkbox" name="payment" id="payment" class="menuFilter__checbox menuFilter__checbox--payment">
      <label for="payment" class="menuFilter__label menuFilter__label--payment">
        Pago
      </label>
    </fieldset>

    <button class="menuFilter__button">Filtrar</button>
  </section>

  <script type="text/javascript" src="/js/modificaForm.js"></script>
  <script type="text/javascript" src="/js/validacao.js"></script>
</body>
{% endblock %}