{% extends "templates/base.html" %}
{% block content %}
  <body>
    <header class="headerNewEvent">
      <a href="/event/category" class="headerNewEvent__buttonPrevious">Voltar</a>
      <label class="headerNewEvent__label">Dias e Horários do Evento</label>
    </header>

    <form class="formNewEvent" action="index.html" method="post">

      <div class="formNewEvent__informacoes">
        <input id="day" type="text" class="formNewEvent__informacoes__input" required data-number>
        <label for="day" class="formNewEvent__informacoes__label">Dia</label>
        <span class="formNewEvent__informacoes__obrigatorio">Obrigatório</span>
      </div>

      <div class="formNewEvent__informacoes">
        <input id="inicialTime" type="text" class="formNewEvent__informacoes__input" required data-number>
        <label for="inicialTime" class="formNewEvent__informacoes__label">Horário Inicial</label>
        <span class="formNewEvent__informacoes__obrigatorio">Obrigatório</span>
      </div>

      <div class="formNewEvent__informacoes">
        <input id="finalTime" type="text" class="formNewEvent__informacoes__input" required data-number>
        <label for="finalTime" class="formNewEvent__informacoes__label">Horário Final</label>
        <span class="formNewEvent__informacoes__obrigatorio">Obrigatório</span>
      </div>
    </form>

    <div class="addNewEvent">
      <button class="addNewEvent__button">+</button>
    </div>

    <footer class="footerNewEvent">
      <a href="/event/wait" class="footerNewEvent__button">
        Finalizar
      </a>
    </footer>

    <script type="text/javascript" src="/js/modificaForm.js"></script>
    <script type="text/javascript" src="/js/validacao.js"></script>

  </body>
{% endblock %}