{% extends "templates/base.html" %}

{% block content %}
  <body>
    <header class="headerNewProfile">
      <a href="/event" class="headerNewProfile__buttonPrevious">
        Voltar
      </a>
      <div class="wrap__headerNewProfile__foto">
        <img class="headerNewProfile__foto__item" src="" alt="Imagem do Profile">
        <button class="headerNewProfile__foto__buttonEdit">Editar</button>
      </div>
    </header>

    <form class="formNewEvent" action="index.html" method="post">
      <div class="formNewEvent__informacoes">
        <input id="nameProfile" type="text" class="formNewEvent__informacoes__input" required>
        <label for="nameProfile" class="formNewEvent__informacoes__label">Nome</label>
        <span class="formNewEvent__informacoes__obrigatorio">Obrigatório</span>
      </div>

      <div class="formNewEvent__informacoes">
        <input id="emailProfile" type="text" class="formNewEvent__informacoes__input" required>
        <label for="emailProfile" class="formNewEvent__informacoes__label">Email</label>
        <span class="formNewEvent__informacoes__obrigatorio">Obrigatório</span>
      </div>

      <div class="formNewEvent__informacoes">
        <input id="senhaProfile" type="text" class="formNewEvent__informacoes__input" required>
        <label for="senhaProfile" class="formNewEvent__informacoes__label">Senha</label>
        <span class="formNewEvent__informacoes__obrigatorio">Obrigatório</span>
        <button class="formNewEvent__informacoes__senha">Ocultar Senha</button>
      </div>
    </form>

    <footer class="footerNewEvent">
      <button class="footerNewEvent__button">
        Atualizar
      </button>
    </footer>

    <script type="text/javascript" src="/js/modificaForm.js"></script>
    <script type="text/javascript" src="/js/validacao.js"></script>

  </body>
{% endblock %}