.firstPage {
  text-align: center;
}

.firstPage__logo {
  width: 150px;
  height: 155px;
  margin-top: 200px;
}

.firstPage__label {
  font-size: 3em;
  margin-top: 20px;
}

.firstPage__label__eventos {
  color: var(--logo);
}

.firstPage__label__tech {
  color: var(--dark);
}
