<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home - Eventos.tech</title>

  <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base.css">

  <link rel="stylesheet" href="/css/block/header.css">
  <link rel="stylesheet" href="/css/block/callToAction.css">
</head>
<body>
  <header class="header">
    <h1 class="header-title">Eventos.tech</h1>
    <nav class="header-menu"></nav>
  </header>

  <a href="" class="callToAction">Cadastrar evento</a>

  <article class="event">
    <header class="event-header">
      <time class="event-header-day" datetime="2018-07-14">14/07/2018</time>
      <address class="event-header-location">SP</address>
    </header>

    <img src="/img/frontInSampa.jpg" alt="Logo do FrontInSampa" class="event-logo">

    <h1 class="event-title">FrontInSampa</h1>

    <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, laudantium? Nisi quis voluptatibus tenetur, mollitia alias expedita nostrum molestias, odit incidunt maxime, dignissimos neque omnis reprehenderit temporibus a eum quae.</p>

    <footer class="event-footer">
      <ul class="tags">
        <li class="tags-item"><a href="" class="tags-item-action">FrontEnd</a></li>
        <li class="tags-item"><a href="" class="tags-item-action">JavaScript</a></li>
        <li class="tags-item"><a href="" class="tags-item-action">CSS</a></li>
        <li class="tags-item"><a href="" class="tags-item-action">...</a></li>
      </ul>
    </footer>
  </article>
</body>
</html>
