.addNewEvent {
  border-top: 1px solid var(--border);
  position: relative;
  margin-top: 55px;
  width: 100%;
  height: 50px;
}

.addNewEvent__button {
  text-decoration: none;
  text-align: center;
  line-height: 46px;
  font-size: 2.5em;
  color: var(--white);
  background-color: var(--add);
  width: 46px;
  height: 46px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -22px;
}