.headerNewProfile {
  display: block;
  width: 360px;
  height: 120px;
  margin-bottom: 70px;
  box-sizing: border-box;
  background-color: var(--profile);
  position: relative;
}

.headerNewProfile__buttonPrevious {
  background-image: url(../../../img/block/new-profile/icon-previous-white.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  text-indent: -9999px;
  width: 35px;
  height: 40px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.headerNewProfile__foto {
  background-color: var(--light);
  border: 1px solid var(--border);
  text-indent: -9999px;
  width: 118px;
  height: 118px;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.headerNewProfile__buttonEdit {
  background-image: url(../../../img/block/new-profile/button-edit.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  text-indent: -9999px;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 130px;
  right: 110px;
}
