.wrap__date {
  position: fixed;
  left: 0;
  top: 0;
  border-right: 2px solid rgba(183, 183, 183, 0.8);
}

.date__item {
  font-size: 12px;
  font-weight: 300;
  background-color: #fff;
  width: 60px;
  height: 50px;
  text-align: center;
  padding: 5px 0;
  text-transform: uppercase;
}

.date__item__number {
  display: block;
  font-size: 25px;
  font-weight: bold;
}

.date__item--isActive {
  background-color: #7781a3;
  color: #fff;
}
