.formNewEvent {
  padding-left: 20px;
}

.formNewEvent__inscricoes__title {
  font-size: 22px;
  color: var(--dark);
  padding-top: 24px;
  padding-bottom: 10px;
}

.formNewEvent__inscricoes__radio {
  display: none;
}

.formNewEvent__inscricoes__label {
  font-size: 22px;
  position: relative;
  line-height: 28px;
  padding-left: 40px;
  padding-right: 30px;
}

.formNewEvent__inscricoes__label::before,
.formNewEvent__inscricoes__label::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  border: solid 1px var(--medium);
  border-radius: 50%;
}

.formNewEvent__inscricoes__label::before {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  position: absolute;
  left: 0;
}

.formNewEvent__inscricoes__label::after {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
}

.formNewEvent__inscricoes__label--free {
  color: var(--free);
}

.formNewEvent__inscricoes__label--free::before,
.formNewEvent__inscricoes__label--free::after {
  border-color: var(--free);
}

.formNewEvent__inscricoes__radio--free:checked + .formNewEvent__inscricoes__label--free::after {
  background-color: var(--free);
}

.formNewEvent__inscricoes__label--payment {
  color: var(--payment);
}

.formNewEvent__inscricoes__label--payment::before,
.formNewEvent__inscricoes__label--payment::after {
  border-color: var(--payment);
}

.formNewEvent__inscricoes__radio--payment:checked + .formNewEvent__inscricoes__label--payment::after {
  background-color: var(--payment);
}

.formNewEvent__informacoes {
  position: relative;
  width: 320px;
  height: 25px;
  margin-top: 35px;
}

.formNewEvent__informacoes__input,
.formNewEvent__informacoes__label {
  font-size: 22px;
  width: 100%;
}

.formNewEvent__informacoes__input {
  border-bottom: solid 2px var(--medium);
  color: var(--dark);
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

.formNewEvent__informacoes__label {
  position: absolute;
  top: -2px;
  left: 0;
  color: var(--light);
  cursor: text;
  box-sizing: border-box;
  transition: .2s ease-in-out;
}

.formNewEvent__informacoes__input:valid,
.formNewEvent__informacoes__input:focus {
  border-bottom: solid 2px var(--dark);
}

.formNewEvent__informacoes__input:valid + .formNewEvent__informacoes__label,
.formNewEvent__informacoes__input:focus + .formNewEvent__informacoes__label {
  color: var(--medium);
  font-size: 12px;
  top: -15px;
  pointer-events: none;
}

.formNewEvent__informacoes__obrigatorio {
  font-size: 12px;
  color: var(--required);
  position: absolute;
  right: 2px;
  bottom: -18px;
}

.formNewEvent__informacoes__caracter {
  font-size: 12px;
  color: var(--dark);
  position: absolute;
  right: 2px;
  bottom: -18px;
}
