.header {
  box-shadow: 2px 2px 4px rgba(183, 183, 183, .5);
  font-size: 20px;
  box-sizing: border-box;
  padding: 18px 15px 18px 75px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, .95);
}

.header__month {
  display: inline-block;
  padding-right: 20px;
  position: relative;
}

.header__month::after {
  content: "";
  display: inline-block;
  border-top: 8px solid #a2a2a2;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  width: 0;
  position: absolute;
  top: 9px;
  right: 0;
}

.header__month__item {
  display: none;
}

.header__month__item--isActive {
  display: inline-block;
}

.header__filter {
  float: right;
}
