.wrap__menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.menu {
  background-color: #7781a3;
  box-sizing: border-box;
  height: 50px;
  font-size: 12px;
  color: #fff;
  text-align: justify;
  padding: 8px 30px 0 90px;
}

.menu__item {
  background-repeat: no-repeat;
  padding-top: 25px;
  background-position: center top;
  width: 50px;
  text-align: center;
  display: inline-block;
  position: relative;
  font-weight: 300;
}

.menu__item--isActive::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 2px 4px white;
}

.menu__item--evento {
  background-image: url(../../img/block/menu/calendar.svg);
}

.menu__item--isActive.menu__item--evento {
  background-image: url(../../img/block/menu/calendar--isActive.svg);
}

.menu__item--like {
  background-image: url(../../img/block/menu/like.svg);
}

.menu__item--isActive.menu__item--like {
  background-image: url(../../img/block/menu/like--isActive.svg);
}

.menu__item--perfil {
  background-image: url(../../img/block/menu/profile.svg);
}

.menu__item--isActive.menu__item--perfil {
  background-image: url(../../img/block/menu/profile--isActive.svg);
}

.linhaFinal {
  display: inline-block;
  width: 100%;
}
