.newEvent {
  display: block;
  width: 360px;
  height: 61px;
  box-sizing: border-box;
  border-bottom: solid 1px var(--border);
  position: relative;
  line-height: 61px;
}

.newEvent__imagem {
  position: absolute;
  top: 16px;
  left: 10px;
}

.newEvent__label {
  font-size: 22px;
  color: var(--dark);
  display: block;
  text-align: center;
}
/*------------------------------------------------*/
.formNewEvent {
  padding-left: 20px;
}

.inscricoes__title {
  font-size: 22px;
  color: var(--dark);
  padding-top: 24px;
  padding-bottom: 10px;
}

.inscricoes__radio {
  display: none;
}

.inscricoes__label {
  font-size: 22px;
  position: relative;
  line-height: 28px;
  padding-left: 40px;
  padding-right: 30px;
}

.inscricoes__label::before,
.inscricoes__label::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  border: solid 1px var(--medium);
  border-radius: 50%;
}

.inscricoes__label::before {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  position: absolute;
  left: 0;
}

.inscricoes__label::after {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
}

.inscricoes__label--free {
  color: var(--free);
}

.inscricoes__label--free::before,
.inscricoes__label--free::after {
  border-color: var(--free);
}

.inscricoes__radio--free:checked + .inscricoes__label--free::after {
  background-color: var(--free);
}

.inscricoes__label--payment {
  color: var(--payment);
}

.inscricoes__label--payment::before,
.inscricoes__label--payment::after {
  border-color: var(--payment);
}

.inscricoes__radio--payment:checked + .inscricoes__label--payment::after {
  background-color: var(--payment);
}
/*------------------------------------------------*/
.footerNewEvent {
  position: relative;
}

.footerNewEvent__button {
  font-size: 22px;
  color: var(--white);
  text-transform: uppercase;
  width: 360px;
  height: 50px;
  background-color: var(--menu);
}

.footerNewEvent__img {
  position: absolute;
  top: 11px;
  right: 10.5px;
}
