{% extends "templates/base.html" %}
{% block content %}
  <body class="page-event">
    <header class="headerNewEvent">
      <a href="/event" class="headerNewEvent__buttonPrevious">Voltar</a>
      <label class="headerNewEvent__label">Categorias</label>
    </header>

    <form class="menuFilter menuFilter--newEvent">
      <fieldset class="menuFilter__category">
        <input type="checkbox" name="all" id="all" class="menuFilter__checkbox menuFilter__checkbox--all">
        <label for="all" class="menuFilter__label menuFilter__label--all">
          Todas
        </label>

        <input type="checkbox" name="ux" id="ux" class="menuFilter__checkbox menuFilter__checkbox--ux">
        <label for="ux" class="menuFilter__label menuFilter__label--ux">
          UX
        </label>

        <input type="checkbox" name="design" id="design" class="menuFilter__checkbox menuFilter__checkbox--design">
        <label for="design" class="menuFilter__label menuFilter__label--design">
          Design
        </label>

        <input type="checkbox" name="frontend" id="frontend" class="menuFilter__checkbox menuFilter__checkbox--frontend">
        <label for="frontend" class="menuFilter__label menuFilter__label--frontend">
          Frontend
        </label>

        <input type="checkbox" name="backend" id="backend" class="menuFilter__checkbox menuFilter__checkbox--backend">
        <label for="backend" class="menuFilter__label menuFilter__label--backend">
          Backend
        </label>

        <input type="checkbox" name="mobile" id="mobile" class="menuFilter__checkbox menuFilter__checkbox--mobile">
        <label for="mobile" class="menuFilter__label menuFilter__label--mobile">
          Mobile
        </label>

        <input type="checkbox" name="devops" id="devops" class="menuFilter__checkbox menuFilter__checkbox--devops">
        <label for="devops" class="menuFilter__label menuFilter__label--devops">
          DevOps
        </label>

        <input type="checkbox" name="agile" id="agile" class="menuFilter__checkbox menuFilter__checkbox--agile">
        <label for="agile" class="menuFilter__label menuFilter__label--agile">
          Agile
        </label>
      </fieldset>
    </form>

    <footer class="footerNewEvent">
      <a href="/event/day" class="footerNewEvent__button">
        Próximo
        <img class="footerNewEvent__button__img" src="/img/block/new-event/icon-next-white.svg" alt="Ir para próximo menu">
      </a>
    </footer>

    <script src="/js/filterCategory.js"></script>
    <script src="/js/validacao.js"></script>
    <script src="/js/menuFilter.js"></script>

  </body>
{% endblock %}