<div class="wrap__month">
  <select class="month" name="" id="">
    <option class="month__item" value="Janeiro">Janeiro</option>
    <option class="month__item" value="Fevereiro">Fevereiro</option>
    <option class="month__item" value="Março">Março</option>
    <option class="month__item" value="Abril">Abril</option>
    <option class="month__item" value="Maio">Maio</option>
    <option class="month__item" value="Junho">Junho</option>
    <option class="month__item" value="Julho">Julho</option>
    <option class="month__item" value="Agosto">Agosto</option>
    <option class="month__item" value="Setembro">Setembro</option>
    <option class="month__item" value="Outubro">Outubro</option>
    <option class="month__item" value="Novembro">Novembro</option>
    <option class="month__item" value="Dezembro">Dezembro</option>
  </select>
</div>