.headerNewProfile {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 70px;
  box-sizing: border-box;
  background-color: var(--profile);
  position: relative;
}

.headerNewProfile__buttonPrevious {
  background-image: url(../../../img/block/new-profile/icon-previous-white.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  text-indent: -9999px;
  width: 35px;
  height: 40px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.wrap__headerNewProfile__foto {
  width: 118px;
  height: 118px;
  position: absolute;
  top: 60px;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.headerNewProfile__foto__item {
  background-color: var(--light);
  border: 1px solid var(--border);
  text-indent: -9999px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.headerNewProfile__foto__buttonEdit {
  background-image: url(../../../img/block/new-profile/button-edit.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  text-indent: -9999px;
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 0;
  right: -6px;
}
