.wrap__month {
  position: absolute
}
.wrap__month::after {
  content: "";
  display: inline-block;
  border-top: 5px solid var(--light);
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 0;
  position: absolute;
  top: 10px;
  right: 0;
}

.month {
  -webkit-appearance: none;
  all: unset;
}