.event {
  padding: 38px 15px 38px 75px;
}

.event:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.event__time {
  margin-left: 2px;
}

.event__name {
  font-size: 2.5em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.68);
}

.event__address {
  font-size: 1.166em;
  font-style: normal;
}

.event__address__city {
  font-weight: normal;
  font-size: 1.142em;
  color: var(--dark);
  display: block;
}

.event__menu {
  margin-top: 10px;
}

.event__menu__item {
  margin-right: 25px;
}

.event__category {
  text-indent: -9999px;
  width: 3px;
  height: 20px;
  float: right;
  margin-bottom: 40px;
  margin-left: 8px;
}

.event__ticket {
  color: var(--white);
  width: 40px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  float: right;
  clear: right;
}

.event__category--all {
  background-color: var(--all);
}

.event__category--ux {
  background-color: var(--ux);
}

.event__category--design {
  background-color: var(--design);
}

.event__category--frontend {
  background-color: var(--frontend);
}

.event__category--backend {
  background-color: var(--backend);
}

.event__category--mobile {
  background-color: var(--mobile);
}

.event__category--devops {
  background-color: var(--devops);
}

.event__category--agile {
  background-color: var(--agile);
}

.event__ticket--all {
  background-color: var(--all);
}

.event__ticket--free {
  background-color: var(--free);
}

.event__ticket--payment {
  background-color: var(--payment);
}
