* {
  margin: 0;
  padding: 0;
  border: none;
}

html, body {
  height: 100%;
}

ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, input, textarea {
  font-size: inherit;
  font-family: inherit;
}

i, cite, em, var, address, dfn {
    font-style: inherit;
}
